/* html,body {
    padding:10;
    margin:auto;
}

body {
    width: 80%;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}


.nav-link {
  display: flex;
  justify-content: flex-end; 
}

#btn-reg, #rest_submit, #rest_submitTwo {
  display: flex;
  justify-content: flex-end; 
  margin: 5px;
}

#header {
  padding: 20px;
}

.jumbotron {
  background-image: url("/images/richmondsmall3.jpg");
  height: 490px;
  background-repeat: no-repeat;
  margin-bottom: 0rem;
}



.leftPadding {
  padding: 10px;
}


.rightPadding {
  padding: 10px;
}

.wrap {
  font:12px Arial, san-serif;
}

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 


  */